### Tuple:
     - It is a collection of different data items in a single variable.
     - By using round brackets we can write the tuple like this().
     - it is immutable(can't changable)
     - It is a collection which is ordered and unchangable
     - It allows the duplication of data

In [1]:
# To store the mutliple elements in a single variable.
t1 = (10,20,'apssdc',45.6,10,20,30)
print(t1)
print(type(t1))

(10, 20, 'apssdc', 45.6, 10, 20, 30)
<class 'tuple'>

In [2]:
# To store the single element in a tuple.
t2 = (100,)
print(t2)
print(type(t2))

(100,)
<class 'tuple'>

In [3]:
# To Access the tuple values using index position.
print(t1)
# Index position starts from 0 to size-1.
# To find the length of a tuple.
print(len(t1))
print(t1[3])
print(t1[-1])
print(t1[::-1])

(10, 20, 'apssdc', 45.6, 10, 20, 30)
7
45.6
30
(30, 20, 10, 45.6, 'apssdc', 20, 10)

In [4]:
# To update the tuple values..
print(t1)
#t1[3]='python'
#print(t1)# It is immutable
# need to convert the tuple into list
t1 = list(t1)
print(t1)
print(type(t1))
t1[3]='Python'
print(t1)
# Need convert the list into tuple..
t1 = tuple(t1)
print(t1)

(10, 20, 'apssdc', 45.6, 10, 20, 30)
[10, 20, 'apssdc', 45.6, 10, 20, 30]
<class 'list'>
[10, 20, 'apssdc', 'Python', 10, 20, 30]
(10, 20, 'apssdc', 'Python', 10, 20, 30)

In [5]:
# TO print the tuple methods.
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [6]:
# count():
# To Count the element frequncey...
t2 = (10,20,30,'python','java',56.7,10,20,'python')
print(t2.count('python'))

2

In [7]:
# index():
# To get the index position of a specified element.
print(t2)
print(t2.index('java'))

(10, 20, 30, 'python', 'java', 56.7, 10, 20, 'python')
4

In [8]:
for i in range(0,len(t2)):
    if(t2[i]=='python'):
        print(t2[i],'-->',i)

python --> 3
python --> 8

### sets:
   - It is a collection of different data items in a single variable.
   - It is unordered and unindexed.
   - In python By using curly brackets we can write the sets.
   - Set will not allow the duplication of data.
   - In sets data can't be update but we can add the new data.
   - It can't access the data from a sets.

In [9]:
# TO create the empty set.
s1 = set()
print(type(s1))

<class 'set'>

In [10]:
# To store the multiple elements in a set.
s1 = {10,20,30,10,20,30,40,11,20}
print(s1)
print(type(s1))

{20, 40, 10, 11, 30}
<class 'set'>

In [11]:
# To access the set values.
print(s1)
for i in s1:
    print(i)

{20, 40, 10, 11, 30}
20
40
10
11
30

In [12]:
# set methods
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [13]:
# add():
# To add the new element to the set.
s1={'python',10,20}
print(s1)
s1.add(100)
print(s1)

{10, 20, 'python'}
{100, 10, 20, 'python'}

In [14]:
# update():
# We can add the multiple elements to the set.
print(s1)
s1.update([34,56])
print(s1)

{100, 10, 20, 'python'}
{34, 100, 10, 20, 56, 'python'}

In [15]:
# copy():
# TO copy the data from one set to another set.
print(s1)
s3 = s1.copy()
print(s3)

{34, 100, 10, 20, 56, 'python'}
{34, 100, 20, 56, 10, 'python'}

In [16]:
s1 = list(s1)
print(s1)
s1[0]=200
print(s1)
s1 = set(s1)
print(s1)

[34, 100, 10, 20, 56, 'python']
[200, 100, 10, 20, 56, 'python']
{100, 200, 10, 20, 56, 'python'}

In [17]:
# remove():
# TO remove the the element from a set.
print(s1)
s1.remove(100)
print(s1)

{100, 200, 10, 20, 56, 'python'}
{200, 10, 20, 56, 'python'}

In [18]:
s1.remove(100)

KeyError: 100

In [19]:
# discard():
print(s1)
s1.discard(200)
print(s1)

{200, 10, 20, 56, 'python'}
{10, 20, 56, 'python'}

In [ ]:
s1.discard(200)

In [20]:
# pop():
# first element deletion.
print(s1)
s1.pop()
print(s1)

{10, 20, 56, 'python'}
{20, 56, 'python'}

In [21]:
# clear():
# To clear the set data .
print(s3)
s3.clear()
print(s3)

{34, 100, 20, 56, 10, 'python'}
set()

In [22]:
# union():
# To Combine the two sets.
# set1.union(set2)
s1 = {1,2,3}
s2 = {'a','b','c','1'}
s3 = s1.union(s2)
print(s3)

{1, 2, 3, '1', 'c', 'a', 'b'}

In [23]:
# intersection_update():
# the items that are present both sets.
x = {'apple','banana','mango'}
y = {'boll','fan','banana','bag','mango'}
x.intersection_update(y)
print(x)

{'mango', 'banana'}

In [24]:
# symmetric_difference_update():
a = {'tcs','wipro','google'}
b = {'ibm','apssdc','tcs'}
a.symmetric_difference_update(b)
print(a)

{'google', 'apssdc', 'ibm', 'wipro'}

In [25]:
# difference():
# The items that only exist in set x, and not in set y.
a = {'apple','banana','mango'}
b = {'srm college','python','apple','wipro'}
c = a.difference(b)
print(c)

{'mango', 'banana'}

In [26]:
# intersection():
# items that are present both sets
print(a,b)
r = a.intersection(b)
print(r)
print(a)

{'apple', 'mango', 'banana'} {'srm college', 'apple', 'wipro', 'python'}
{'apple'}
{'apple', 'mango', 'banana'}

In [27]:
# intersection_update():
print(a,b)
a.intersection_update(b)
print(a)

{'apple', 'mango', 'banana'} {'srm college', 'apple', 'wipro', 'python'}
{'apple'}

In [28]:
print(a)

{'apple'}

In [29]:
print(x&y)
print(x,y)
print(x|y)
print(x-y)

{'mango', 'banana'}
{'mango', 'banana'} {'bag', 'boll', 'mango', 'fan', 'banana'}
{'bag', 'boll', 'mango', 'fan', 'banana'}
set()