In [36]:
import pandas as pd

In [37]:
sd1 = pd.Series([10,'apssdc',45.67,30,60])
print(sd1)

0        10
1    apssdc
2     45.67
3        30
4        60
dtype: object

### Update the Series value..

In [38]:
sd1[3]=100
sd1

0        10
1    apssdc
2     45.67
3       100
4        60
dtype: object

- Replace():
        - Using replace() method we can update the series value.
        - syntax: sd.replace(to_replace=old_value,value=new_value)

In [39]:
sd1

0        10
1    apssdc
2     45.67
3       100
4        60
dtype: object

In [40]:
sd1 = sd1.replace(to_replace='apssdc',value='python')
sd1

0        10
1    python
2     45.67
3       100
4        60
dtype: object

In [41]:
sd1=sd1.replace(45.67,100)
print(sd1)

0        10
1    python
2       100
3       100
4        60
dtype: object

In [42]:
sd1 = sd1.replace(100,'data analysis')

In [43]:
sd1

0               10
1           python
2    data analysis
3    data analysis
4               60
dtype: object

In [44]:
# To update the multiple data from a series
sd1 = sd1.replace(to_replace=[10,'data analysis',60],value=[100,'java',600])
sd1

0       100
1    python
2      java
3      java
4       600
dtype: object

### Delete the data in series

In [45]:
sd1

0       100
1    python
2      java
3      java
4       600
dtype: object

In [46]:
# TO delete the series data..
sd1.drop(labels=2,inplace=True)
sd1

0       100
1    python
3      java
4       600
dtype: object

In [47]:
sd1.drop(labels=[0,4],inplace=True)
sd1

1    python
3      java
dtype: object

In [48]:
sd1.drop(labels=1,inplace=True)
sd1

3    java
dtype: object

- Task1: To create the series having index values starts from 10 to 20 values are squares of index values?

In [49]:
import numpy as np
data=np.array([i**2 for i in range(10,20)])
ser=pd.Series(data,index=[i for i in range(10,20)])
print(ser)

10    100
11    121
12    144
13    169
14    196
15    225
16    256
17    289
18    324
19    361
dtype: int32

In [50]:
# Create Series having index values start from 10 to 20 and values are squares of index values 
index_values = range(10, 21)  
values = [i**2 for i in index_values] 
series = pd.Series(values, index=index_values)
print(series)

10    100
11    121
12    144
13    169
14    196
15    225
16    256
17    289
18    324
19    361
20    400
dtype: int64

In [51]:
series

10    100
11    121
12    144
13    169
14    196
15    225
16    256
17    289
18    324
19    361
20    400
dtype: int64

In [52]:
#To print the specific index names data
# fancy indexing:
series[[13,18,15]]

13    169
18    324
15    225
dtype: int64

In [53]:
sd1

3    java
dtype: object

In [60]:
# To add new record to series data structure..
sd1=sd1.append(pd.Series([10,20]))
sd1

C:\Users\dell\AppData\Local\Temp\ipykernel_3644\3642468309.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sd1=sd1.append(pd.Series([10,20]))

3      java
0        10
1        20
0      nani
1    aaryan
0        10
1        20
0      nani
1    aaryan
0        10
1        20
dtype: object

In [61]:
s1 = pd.Series(['nani','aaryan'])
sd1=sd1.append(s1)
sd1

C:\Users\dell\AppData\Local\Temp\ipykernel_3644\953610544.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sd1=sd1.append(s1)

3      java
0        10
1        20
0      nani
1    aaryan
0        10
1        20
0      nani
1    aaryan
0        10
1        20
0      nani
1    aaryan
dtype: object

In [62]:
sd1[0]

0      10
0    nani
0      10
0    nani
0      10
0    nani
dtype: object