### Comprehension:
- By using Comprehension in python to create a new sequences such as list,dictionary,set.
- we can reduce the lines of code
#### Three types of comprehension:
- 1. List comprehension
- 2. Dictionary comprehension
- 3. Set comprehension

- List comprehension:
         - To create the new list from another iterables.
    - syntax:
    variable_name = [out_put variablename forloop if(condition)]

In [1]:
# To print the 1 to 10 natural numbers with out using Lc?
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [2]:
# To print the 1 to 10 natural numbers using LC?
n = [i for i in range(1,11)]
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# To store the 1 to 50 even values into a list with out using LC?
L1 = []
for i in range(1,51):
    if i%2 == 0:
        L1.append(i)
print(L1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [4]:
print([i for i in range(2,51,2)])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [6]:
print([i for i in range(1,51) if(i%2 == 0)])
# step-1 -> forloop
# step-2 -> take any value from the forloop and then check the condition.
# step-3 -> print(output value)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [2]:
L1 = ['apssdc','python','clanguage','java']
# output: ['Apssdc','Python','Clanguage','Java']
# using List comprehension...
L2 = [i.capitalize() for i in L1]
print(L2)

['Apssdc', 'Python', 'Clanguage', 'Java']

In [5]:
L1=[10,20,30,10,20,30,10,40,20]
# To print the unique elements list using Lc?
# output: [10,20,30,40]
L3=[]
L2 =[L3.append(i) for i in L1 if add(i)]
print(L3)
#print(L2)

[10, 20, 30, 40]

In [10]:
# To print the 1 to 100 prime numbers using LC?
def isprimr(n):
    count = 0
    for i in range(1,n+1):
        if n%i == 0:
            count = count+1
        if count == 2:
            return n
l1 = [i for i in range(1,101) if ]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
value = int(input())
print

### Dictionary Comprehension:
- TO crete the new dictionary with another iterables..
- syntax:
    variable_name = {print(keyname:value) forloop if condition}

In [1]:
# To print the each element square in between 1 to 10?
# output: {1:1,2:4,3:9...10:100}
d1 = {}
for i in range(1,11):
    d1[i]=i*i
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [6]:
# uisng dictionary comprehension?
d2 = {i:i*i for i in range(1,11)}
d2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [8]:
s1 = 'data analysis using python programming'
# To print the character frequency with using dictionary comprehension
# output: {'d':1,'a':5....}
d = {i:s1.count(i) for i in s1}
print(d)

{'d': 1, 'a': 5, 't': 2, ' ': 4, 'n': 4, 'l': 1, 'y': 2, 's': 3, 'i': 3, 'u': 1, 'g': 3, 'p': 2, 'h': 1, 'o': 2, 'r': 2, 'm': 2}

In [17]:
# To get the unique characters
s1 = 'data analysis using python programming'
s2 = ""
for i in s1:
    if i not in s2:
        s2 = s2+i
print(s2)
d2 = {i:s2.count(i) for i in s2}
print(d2)

dat nlysiugphorm
{'d': 1, 'a': 1, 't': 1, ' ': 1, 'n': 1, 'l': 1, 'y': 1, 's': 1, 'i': 1, 'u': 1, 'g': 1, 'p': 1, 'h': 1, 'o': 1, 'r': 1, 'm': 1}

### set comprehension:
- To create the new set from the another iterables..
- syntax:
variable_name = {output forloop if(condition)}

In [18]:
s1 = "python programming"
s2 = " "
for i in s1:
    if i not in s2:
        s2 = s2+i
print(s2)

 pythonrgami

In [19]:
# using set comprehension
set1 ={i for i in s1}
set1

{' ', 'a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y'}

In [20]:
L1=[10,20,30,10,20,40]
# unique elements
set2 ={i for i in L1}
set2

{10, 20, 30, 40}

In [ ]:
Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

Example

recore=[['chi',20.0],['beta',50.0],['alpha',50.0]]

The ordered list of scores is [20.0,50.0], so the second lowest score is 50.0. There are two students with that score:['beta','alpha'] . Ordered alphabetically, the names are printed as:

alpha

beta     this the question mam

Chaitanya AP21110010649  to  You (Direct Message) 11:56
no mam

AP21110011077 | Venkatesh Jasthi |SRM-AP  to  You (Direct Message) 11:56
k=[]
    for l in range(int(input())):
        name = input()
        score = float(input())
        l=[name,score]
        k.append(l)
    s=[i[1] for i in k]
    na=[i[0] for i in k]
    sc=s
    sc=list(set(sc))
    sc=sorted(sc)
    smin=sc[1]
    list(set())
    m=[i for i in range(len(s)) if smin==s[i] ]
    n=[]
    for i in m:
        n.append(na[i])
    print(*sorted(n),sep="\n")

In [1]:
k=[]

In [ ]:
k=[]
for l in range(int(input())):
        name = input()
        score = float(input())
        l=[name,score]
        k.append(l)
    s=[i[1] for i in k]
    na=[i[0] for i in k]
    sc=s
    sc=list(set(sc))
    sc=sorted(sc)
    smin=sc[1]
    list(set())
    m=[i for i in range(len(s)) if smin==s[i] ]
    n=[]
    for i in m:
        n.append(na[i])
    print(*sorted(n),sep="\n")